[Desktop Entry]
Version=1.1
Name=Exploit Database
Comment=Archive of public exploits that is CVE compliant
Icon=exploit-db
Type=Link
URL=https://www.exploit-db.com/
Categories=15-kali-offsec-links;
X-Kali-Package=kali-menu
X-XFCE-Source=file:///usr/share/applications/exploit-database.desktop
