[Desktop Entry]
Name=wireshark
Encoding=UTF-8
Exec=pkexec wireshark
Icon=kali-wireshark
StartupNotify=false
Terminal=false
Type=Application
Categories=09-sniffing-spoofing;
X-Kali-Package=wireshark
X-XFCE-Source=file:///usr/share/applications/wireshark.desktop
